@import './partials/reset';
@import './partials/layout';
@import './partials/colors';
@import './partials/typography';
@import './partials/global';
@import './partials/header';
@import './partials/hero';
@import './partials/feature';
@import './partials/projects';
@import './partials/about';
@import './partials/services';
@import './partials/cta';
@import './partials/footer';
@import './partials/menu-mobile';
@import './partials/modal';
