.about {
  margin-top: 9.6rem;

  .about-title {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;

    max-width: 56.7rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4.8rem;
  }

  .about-content {
    display: flex;
    gap: 1.6rem;

    @include responsive(s) {
      flex-direction: column;
    }

    @include responsive(xs) {
      flex-direction: column;
    }

    .image {
      flex: 1;
      position: sticky;
      top: 0;
      height: fit-content;

      @include responsive(s) {
        order: 2;
      }

      @include responsive(xs) {
        order: 2;
      }

      img {
        width: 100%;
      }
    }

    .desc {
      height: fit-content;
      position: sticky;
      top: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      @include responsive(s) {
        order: 1;
        position: relative;
      }

      @include responsive(xs) {
        order: 1;
        position: relative;
      }

      .desc-top {
        background-color: $black-light;
        border-radius: 1.6rem;
        padding: 4rem;

        h3 {
          margin-bottom: 2.4rem;
        }

        p {
          margin-bottom: 1.6rem;

          &.last {
            margin-bottom: 4rem;
          }
        }

        ul {
          display: flex;
          align-items: center;
          gap: 2.4rem;
        }
      }

      .desc-cta {
        background-color: $primary-normal;
        border-radius: 1.6rem;
        padding: 4rem;

        height: 27.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.3s ease;

        &:hover {
          background-color: $primary-dark;
        }

        p:last-child {
          align-self: end;
          display: flex;
          align-items: center;
          gap: 1.6rem;
        }
      }
    }
  }
}
