.cta-bg {
  border-radius: 1.6rem;
  border: 1px solid rgba(230, 235, 242, 0.1);
  background: rgba(21, 21, 24, 1);
  backdrop-filter: blur(32px);
  margin: 9.6rem 4.8rem;
  position: relative;

  &::before {
    content: '';
    display: block;
    background: url('../../assets/effect-cta-1.svg') no-repeat;
    opacity: 0.5;
    height: 626px;
    width: 642px;
    position: absolute;
    top: -15rem;
    left: 0;
    transform: translateX(-20rem);
    z-index: -1;
  }

  &::after {
    content: '';
    display: block;
    background: url('../../assets/effect-cta-2.svg') no-repeat;
    opacity: 0.7;
    height: 648px;
    width: 634px;
    position: absolute;
    right: 0;
    transform: translateX(10rem);
    bottom: -18rem;
    z-index: -1;
  }

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    height: 59.7rem;

    h2 {
      margin-top: 0.8rem;
      margin-bottom: 1.6rem;
    }
  }
}

.wrapper {
  overflow: hidden;
}
