.feature {
  display: flex;
  align-items: center;

  .feature-black {
    background-color: $black-normal;
    transform: translateX(-50%) rotate(3deg);
  }

  .feature-blue {
    background-color: $primary-normal;
    transform: translateX(-50%) rotate(-3deg);
  }

  .feature-blue,
  .feature-black {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 105%;

    ul {
      display: flex;
      gap: 1.6rem;

      li {
        display: flex;
        gap: 0.8rem;
        padding: 1.2rem 2.4rem;
        white-space: nowrap;
      }
    }
  }
}
