.button-menu-mobile {
  width: 3.2rem;
  height: 3.2rem;

  background-color: transparent;
  border: none;
  cursor: pointer;

  position: relative;

  @include responsive(m) {
    display: none;
  }

  @include responsive(l) {
    display: none;
  }

  @include responsive(xl) {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: $white-light;

    position: absolute;
    top: 0.8rem;
    transition: 0.3s ease;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: $white-light;

    position: absolute;
    bottom: 0.8rem;
    transition: 0.3s ease;
  }
}

.menu-mobile {
  visibility: hidden;
  position: absolute;
  z-index: 98;
  top: 100dvh;
  left: 0;
  transition: 0.3s ease;

  width: 100%;
  height: 100dvh;

  background-color: rgba(17, 17, 19, 0.75);
  border-bottom: 1px solid rgba(230, 235, 242, 0.1);
  backdrop-filter: blur(4px);

  @include responsive(m) {
    display: none;
  }

  @include responsive(l) {
    display: none;
  }

  @include responsive(xl) {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.4rem;

    a {
      font-size: 2rem;
    }
  }
}

body.active .button-menu-mobile {
  &::before {
    transform: rotate(45deg);
    top: 1.4rem;
  }

  &::after {
    transform: rotate(-45deg);
    top: 1.4rem;
  }
}

body.active .menu-mobile {
  visibility: visible;
  top: 100%;
}
