.modal {
  position: fixed;
  inset: 0;
  z-index: 200;
  padding: 4.8rem;
  display: none;

  @include responsive(s) {
    padding: 3.2rem;
  }

  @include responsive(xs) {
    padding: 2.4rem;
  }

  &.active {
    display: flex;
  }

  .modal-overlay {
    position: absolute;
    z-index: -1;
    inset: 0;
    background: rgba(17, 17, 19, 0.6);
    backdrop-filter: blur(6px);
  }

  .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;

    display: flex;
    gap: 1.6rem;

    @include responsive(l) {
      flex-direction: column;
    }

    @include responsive(m) {
      flex-direction: column;
    }

    @include responsive(s) {
      flex-direction: column;
    }

    @include responsive(xs) {
      flex-direction: column;
    }

    .modal-image {
      flex: 2;
      width: 100%;
      height: 100%;
      border-radius: 1.6rem;

      @include responsive(l) {
        flex: 1;
        height: 50%;
      }

      @include responsive(m) {
        flex: 1;
        height: 50%;
      }

      @include responsive(s) {
        flex: 1;
        height: 50%;
      }

      @include responsive(xs) {
        flex: 1;
        height: 50%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.6rem;
      }
    }

    .modal-body {
      flex: 1;
      background-color: $black-normal;
      border: 1px solid rgba(134, 134, 134, 0.1);
      width: 100%;
      height: 100%;
      border-radius: 1.6rem;
      padding: 0.8rem;

      @include responsive(l) {
        height: 50%;
      }

      @include responsive(m) {
        height: 50%;
      }

      @include responsive(s) {
        height: 50%;
      }

      @include responsive(xs) {
        height: 50%;
      }

      .box-title {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin-bottom: 0.8rem;

        .project-title {
          background-color: $black-light;
          border: 1px solid rgba(134, 134, 134, 0.1);
          width: 100%;
          padding: 1.6rem 2.4rem;
          border-radius: 0.8rem;
        }

        .project-link {
          background-color: $black-light;
          border: 1px solid rgba(134, 134, 134, 0.1);
          border-radius: 0.8rem;
          max-width: 5.6rem;
          width: 100%;
          height: 5.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .modal-close {
          max-width: 5.6rem;
          width: 100%;
          height: 5.6rem;
          border-radius: 0.8rem;
          background-color: $black-light;
          border: 1px solid rgba(134, 134, 134, 0.1);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }

      .box-content {
        background-color: $black-light;
        border: 1px solid rgba(134, 134, 134, 0.1);
        height: calc(100% - 6.5rem);
        border-radius: 0.8rem;
        padding: 2.4rem;
        overflow: auto;

        h3 {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}
