.projects {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 4.8rem;

    h2 {
      max-width: 81.8rem;
      text-align: center;
    }
  }

  .list-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;

    @include responsive(s) {
      grid-template-columns: 1fr 1fr;
    }

    @include responsive(xs) {
      grid-template-columns: 1fr;
    }

    .project-card {
      background-color: $black-normal;
      border-radius: 1.6rem;
      padding: 0.8rem;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;

        .project-title {
          background-color: $black-light;
          border-radius: 0.8rem;
          padding: 1.6rem;
          margin-bottom: 0.8rem;

          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .project-cover {
          max-height: 34.4rem;
          height: 100%;
          border-radius: 0.8rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
