* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden !important;
}

body {
  font-size: 1.6rem;
  // overflow-x: hidden !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}
